.nome{
    background-color: teal;
    border-style: solid;
    border-color: #005858;
    border-radius: 5px;
    color: white;
    font-size: 45px;
    padding: 5px 10px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.ponto{
  font-size: 160px;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.aviso {
  font-size: 10px;
}

.card{
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  background-color: #20adad;
  padding: 20px;
  color: white;
  font-size: 30px;
  border-style: solid;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.05);  
}

.quadro {
  background-color: whitesmoke;
    padding: 40px;
}


.vazio {
  font-size: 70px;
  color: teal;
  font-weight: 600;
}

.padding-top {  
  padding-top: 15px;
}

.completed {
  transition: background-color 2s ease;
  background-color: #041d3ad4;
}
